<h2 class="title">Schreib uns!</h2>

<%= form_tag("/thanks") do %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group label-floating">
          <%= label_tag :name, 'Name', class: 'control-label' %>
          <%= text_field_tag :name, nil, class: "form-control" %>
        </div>
        <div class="form-group label-floating">
          <%= label_tag :email, 'Email-Addresse', class: 'control-label' %>
          <%= text_field_tag :email, nil, class: "form-control" %>
        </div>
        <div class="form-group label-floating">
          <%= label_tag :message, 'Deine Nachricht', class: 'control-label' %>
          <%= text_area_tag :message, nil, class: "form-control", row: 30 %>
        </div>
      </div>
    </div>
    <%= submit_tag "senden", class: 'btn btn-success' %>
    <%#= flash[:notice] %>
<% end %>