<% content_for :head do %>
    <meta property="og:url" content="<%= root_url + '/' %>" />
    <meta property="fb:app_id" content="326019507801319" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Sporting Nerds - no gain no game" />
    <meta property="og:description" content="Gamer mit Muskeln? Sportler,
        die sich beim Workout den 'Imperial March' reinballern?
        Beim Zocken essen und trotzdem auf seine Ernährung achten?
        Ihr glaubt so etwas kann es gar nicht geben? Falsch gedacht.
        Wir sind die Sporting Nerds: Zocker aus Leidenschaft;
        Fitness-Junkies durch und durch; Nerds mit Ambitionen!" />
    <meta property="og:image" content="<%= image_url('material_logo.png') %>" />
<% end %>

<%= render 'shared/welcome_text' %>
<hr>
<!--Share Buttons-->
<div class="row">
  <div class="col-md-7 social_media">
    <%= render partial: 'shared/social_media_share', locals: {data_href: root_url + '/',\
        tweet_text: 'Sporting Nerds - no pain no game'}  %>
  </div>
  <div class="col-md-5">
    <%= render 'shared/google_adsense' %>
  </div>
</div><!--end row-->

<h2 id="header_new_posts" class="title">Aktuelle Beiträge</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card card-blog"
         style="background-color: <%= @gaming_post.first.category.background_color %>">
      <%= link_to(@gaming_post.first) do %>
        <div class="card-image landing_page_images"
             style="background-image: url('<%= @gaming_post.first.image_url %>')">

        </div>
      <% end %>

      <div class="content">
        <%= render 'posts/post_author', :post => @gaming_post.first %>
        <h6 class="category text-info"
            style="color: <%= @gaming_post.first.category.title_color %>">
              <%= @gaming_post.first.category.name %>
        </h6>
        <h4 class="card-title">
          <a href="<%= post_path(@gaming_post.first) %>"><%= @gaming_post.first.title %></a>
        </h4>
        <p class="card-description">
          <%= strip_tags(truncate_html(@gaming_post.first.content, length: 200, omission: '...' ))%>
        </p>
      </div><!--end content-->
    </div><!--end card-blog-->
  </div>

  <div class="col-md-4">
    <div class="card card-blog"
         style="background-color: <%= @sports_post.first.category.background_color %>">
      <%= link_to(@sports_post.first) do %>
        <div class="card-image landing_page_images"
             style="background-image: url('<%= @sports_post.first.image_url %>')">
        </div>
      <% end %>

      <div class="content">
        <%= render 'posts/post_author', :post => @sports_post.first %>
        <h6 class="category text-info"
            style="color: <%= @sports_post.first.category.title_color %>">
                <%= @sports_post.first.category.name %></h6>
        <h4 class="card-title">
          <a href="<%= post_path(@sports_post.first) %>"><%= @sports_post.first.title %></a>
        </h4>
        <p class="card-description">
          <%= strip_tags(truncate_html(@sports_post.first.content, length: 200, omission: '...' ))%>
        </p>
      </div><!--end content-->
    </div><!--end card-blog-->
  </div>

  <div class="col-md-4">
    <div class="card card-blog"
        style="background-color: <%= @Nutrition_post.first.category.background_color %>">
      <%= link_to(@Nutrition_post.first) do %>
        <div class="card-image landing_page_images"
             style="background-image: url('<%= @Nutrition_post.first.image_url %>')">
        </div>
      <% end %>

      <div class="content">
        <%= render 'posts/post_author', :post => @Nutrition_post.first %>
        <h6 class="category text-info"
            style="color: <%= @Nutrition_post.first.category.title_color %>"><%= @Nutrition_post.first.category.name %></h6>
        <h4 class="card-title">
          <a href="<%= post_path(@Nutrition_post.first) %>"><%= @Nutrition_post.first.title %></a>
        </h4>
        <p class="card-description">
          <%= strip_tags(truncate_html(@Nutrition_post.first.content, length: 200, omission: '...' ))%>
        </p>
      </div><!--end content-->
    </div><!--end card-blog-->
  </div>
</div><!--end row-->
<hr>

<div class="row">
  <%#= render 'shared/google_adsense' %>
</div>