<div class="content_wrapper">
  <div class="row">
    <div class="col-md-12 about_us">
      <h2 class="title">Über uns</h2>
      <p>
        Gamer mit Muskeln? Sportler, die sich beim Workout den "Imperial March" reinballern?  Beim Zocken essen und trotzdem auf seine Ernährung achten? Ihr glaubt so etwas kann es gar nicht geben? Falsch gedacht.
        Wir sind die Sporting Nerds: Zocker aus Leidenschaft; Fitness-Junkies durch und durch; Nerds mit Ambitionen!
      </p>
      <p>
        Und das hier ist unser Team:
      </p>
    </div>
  </div>
  <hr>
  <div class="row user_index">
    <% @users.each do |user| %>
      <div class="col-md-6">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <!--<a href="#pablo">-->
          <% if user.image.url.present? %>
              <img class="img" src="<%= image_path(user.image.url) %>" />
          <% end %>

            <!--</a>-->
          </div>

          <div class="content">
            <h4 class="card-title" style="color:<%= user.text_color %>">
              <%= user.nick_name %>
            </h4>
            <h6 class="category text-muted"><%= user.function %></h6>

            <p class="card-description">
              <%= user.description&.html_safe || "bla" %>
            </p>
            <div class="footer">
              <!--<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>-->
              <hr>
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to raw('<i class="material-icons">person</i>'),\
                    user, class: 'btn btn-info btn-sm' %>
                <%= link_to raw('<i class="material-icons">edit</i>'),\
                    edit_user_path(user), class: 'btn btn-warning btn-sm' %>
                <%= link_to raw('<i class="material-icons">close</i>'),\
                    user, method: :delete, data: { confirm: 'Are you sure?' },\
                class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>