<footer class="footer sporting_nerds_footer footer-black">
  <div class="container">
    <a class="footer-brand" href="<%= root_path %>">Sporting-Nerds</a>

    <ul class="pull-center">
      <li>
        <%= link_to('gaming',  posts_gaming_path) %>
      </li>
      <li>
        <%= link_to('sports', posts_sports_path) %>
      </li>
      <li>
        <%= link_to('nutrition', posts_nutrition_path) %>
      </li>
      <li>
        <%= link_to('About us', users_path) %>
      </li>
      <li>
        <%= link_to('Impressum', impressum_path)  %>
      </li>
      <li>
        <%= link_to('Datenschutzerklärung', datenschutzerklarung_path)  %>
      </li>
      <li>
        <%= link_to('Kontakt', contact_path) %>
      </li>
    </ul>

    <ul class="social-buttons pull-right">
      <li>
        <a href="https://twitter.com/sportingnerds1" target="_blank" class="btn btn-just-icon btn-simple">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sportingnerds1" target="_blank" class="btn btn-just-icon btn-simple">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/sportingnerds/" target="_blank" class="btn btn-just-icon btn-simple">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCQ5WFzZ8dPLD9n9xeIHn6YA" target="_blank" class="btn btn-just-icon btn-simple">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li>
        <%= link_to(feed_url,\
      class: 'btn btn-just-icon btn-simple', target: :_blank) do %>
            <i class="fa fa-rss"></i>
        <% end %>
      </li>
    </ul>

  </div>
</footer>