<div class="side_stuff">

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive search_bar_separator' %>

  <%= render 'shared/search_bar' %>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <%= render 'posts/newest_post' %>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <%= render 'shared/tags' %>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <%= link_to 'Alle Beiträge anzeigen', posts_path, class: 'btn btn-warning' %>

</div>

