<div class="side_stuff">

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive search_bar_separator' %>

  <%= render 'shared/search_bar' %>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <%= render 'posts/newest_post' %>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- sidebar -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3611165788965058"
       data-ad-slot="2500226720"
       data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <%= render 'shared/tags' %>

  <%= image_tag image_path('trennstrich.png'), class: 'separator img-responsive' %>

  <%= link_to 'Alle Beiträge anzeigen', posts_path, class: 'btn btn-warning' %>

</div>

