  <li>
    <%= link_to('https://twitter.com/sportingnerds1',\
      class: 'btn btn-just-icon btn-simple', target: :_blank) do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </li>
  <li>
    <%= link_to('https://www.facebook.com/sportingnerds1',\
      class: 'btn btn-just-icon btn-simple', target: :_blank) do %>
      <i class="fa fa-facebook"></i>
    <% end %>
  </li>
  <li>
    <%= link_to('https://www.instagram.com/sportingnerds/',\
      class: 'btn btn-just-icon btn-simple', target: :_blank) do %>
      <i class="fa fa-instagram"></i>
    <% end %>
  </li>
  <li>
    <%= link_to('https://www.youtube.com/channel/UCQ5WFzZ8dPLD9n9xeIHn6YA',\
      class: 'btn btn-just-icon btn-simple', target: :_blank) do %>
      <i class="fa fa-youtube"></i>
    <% end %>
  </li>
  <li>
    <%= link_to(feed_url,\
      class: 'btn btn-just-icon btn-simple', target: :_blank) do %>
        <i class="fa fa-rss"></i>
    <% end %>
  </li>







