<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Set Main Post Pic</h3>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.file_field :image_url %>
  </div>

  <h3>Set Post Title</h3>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <h3>Set Post Content</h3>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'tinymce', :rows => 40, :cols => 120 %>
    <%= tinymce %>
  </div>

  <h3>Set Category</h3>
  <div class="field">
    <%= f.label :category_id %>
    <%#= f.select(:section_id) do%>
      <%#= options_from_collection_for_select(Section.all, :id, :name) %>
      <%= f.collection_select :category_id, Category.all, :id, :name  %>
    <%# end %>
  </div>

  <h3>Set Tags</h3>
  <div class="field">

    <%= f.collection_check_boxes(:tag_ids, Tag.order(:name), :id, :name) %>

  </div>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
