<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Main Post Pic</h3>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.file_field :image_url %>
  </div>

  <h3>Title</h3>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <h3>Content</h3>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'tinymce textarea' , :rows => 25, :plugins => ['uploadimage']%>
    <%#= f.text_area :content, class: 'tinymce textarea' , :rows => 25, :plugins => ['uploadimage']%>
    <%#= tinymce %>
  </div>

  <h3>Category</h3>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name  %>

  </div>

  <h3>Tags</h3>
  <div class="field">

    <%= f.collection_check_boxes(:tag_ids, Tag.order(:name), :id, :name) %>

  </div>

    <h3>Rating</h3>
    <%= f.fields_for :rating do |rating_form| %>
        <%= rating_form.label :gameplay %>
        <%= rating_form.select :gameplay, options_for_select((0..10), @post.get_rating(@rating.gameplay))  %>
        <%= rating_form.label :graphics %>
        <%= rating_form.select :graphics, options_for_select((0..10),@rating.graphics )%>
        <%= rating_form.label :sound %>
        <%= rating_form.select :sound, options_for_select((0..10), @rating.sound )%>
        <%= rating_form.label :price_performance %>
        <%= rating_form.select :price_performance, options_for_select((0..10), @rating.price_performance )%>
        <%= rating_form.label :innovation %>
        <%= rating_form.select :innovation, options_for_select((0..10), @rating.innovation )%>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
