<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-8 post_form">

  <div class="form-group label-floating">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'textarea' , :rows => 30, :plugins => ['uploadimage']%>
  </div>
  <div>
    <%= render 'static_pages/manual' %>
  </div>

</div>
<div class="col-md-4 post_form">

  <h3 class="title">Autor</h3>

  <div class="field">

    <%= f.label :user_id %>
    <% if post.persisted? %>
      <%= f.collection_select :user_id, User.all, :id, :nick_name, {:selected => post.user_id}  %>
    <% else %>
      <%= f.collection_select :user_id, User.all, :id, :nick_name, {:selected => current_user.id}  %>
    <% end %>

  </div>

  <h3 class="title">Main Post Pic</h3>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <h3 class="title">Category</h3>

  <div class="field">

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name  %>

  </div>

  <h3 class="title">Tags</h3>

  <div class="field">

    <%= f.collection_check_boxes(:tag_ids, Tag.order(:name), :id, :name) do |chb| %>
      <%= chb.text %>
      <%= chb.check_box %>**
    <% end %>

  </div>

    <h3 class="title">Rating</h3>
      <table class="table table-striped">
        <%= f.fields_for :rating do |rating_form| %>
            <tr>
              <td>
                <%= rating_form.label :gameplay %>
              </td>
              <td>
                <%= rating_form.select :gameplay, options_for_select((0..10), @post.get_rating(@rating.gameplay))  %>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :graphics %>
              </td>
              <td>
                <%= rating_form.select :graphics, options_for_select((0..10),@rating.graphics )%>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :sound %>
              </td>
              <td>
                <%= rating_form.select :sound, options_for_select((0..10), @rating.sound )%>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :price_performance %>
              </td>
              <td>
                <%= rating_form.select :price_performance, options_for_select((0..10), @rating.price_performance )%>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :innovation %>
              </td>
              <td>
                <%= rating_form.select :innovation, options_for_select((0..10), @rating.innovation )%>
              </td>

            </tr>
        <% end %>
      </table>

  <h3 class="title">Veröffentlichen</h3>
  <div class="field">
    <%= f.label :published_at, 'Veröffentlichungsdatum'%>
    <% if post.persisted? %>
      <%= f.date_field :published_at, :value => post.published_at&.strftime('%Y-%m-%d') %>
    <% else %>
        <%= f.date_field :published_at, :value => Time.now.strftime('%Y-%m-%d') %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :active, 'veröffentlichen' %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit 'senden', :class => 'btn btn-success' %>
  </div>
</div>
<% end %>
