<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-8">

  <h3>Title</h3>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <h3>Content</h3>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'tinymce textarea' , :rows => 30, :plugins => ['uploadimage']%>
  </div>
  <div>
    Code für Youtube Videos:
    <code>
    &#60;div class="embed-responsive embed-responsive-16by9"&#62;...&#60;/div&#62;
    </code>
  </div>

</div>
<div class="col-md-4 post_form_sidebar">

  <h3>Autor</h3>

  <div class="field">

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :nick_name, {:selected => current_user.id}  %>

  </div>


  <h3>Main Post Pic</h3>

  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.file_field :image_url %>
  </div>

  <h3>Category</h3>

  <div class="field">

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name  %>

  </div>

  <h3>Tags</h3>

  <div class="field">

    <%= f.collection_check_boxes(:tag_ids, Tag.order(:name), :id, :name) %>

  </div>

    <h3>Rating</h3>
      <table class="table table-striped">
        <%= f.fields_for :rating do |rating_form| %>
            <tr>
              <td>
                <%= rating_form.label :gameplay %>
              </td>
              <td>
                <%= rating_form.select :gameplay, options_for_select((0..10), @post.get_rating(@rating.gameplay))  %>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :graphics %>
              </td>
              <td>
                <%= rating_form.select :graphics, options_for_select((0..10),@rating.graphics )%>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :sound %>
              </td>
              <td>
                <%= rating_form.select :sound, options_for_select((0..10), @rating.sound )%>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :price_performance %>
              </td>
              <td>
                <%= rating_form.select :price_performance, options_for_select((0..10), @rating.price_performance )%>
              </td>
            </tr>
            <tr>
              <td>
                <%= rating_form.label :innovation %>
              </td>
              <td>
                <%= rating_form.select :innovation, options_for_select((0..10), @rating.innovation )%>
              </td>

            </tr>
        <% end %>
      </table>

  <h3>Veröffentlichen</h3>
  <div class="field">
    <%= f.label :published_at, 'Veröffentlichungsdatum'%>
    <%= f.date_field :published_at, :value => Time.now.strftime('%d.%m.%Y') %>
  </div>

  <div class="field">
    <%= f.label :active, 'veröffentlichen' %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit 'senden', :class => 'btn btn-success' %>
  </div>
</div>
<% end %>
