<div class="card card-plain card-blog posts_index">
  <div class="row">

    <div class="col-md-5">
      <a href="<%= post_path(post.id) %>">
        <div class="post-image-index">
          <%= image_tag post.image_url, class: 'img img-raised'%>
        </div>
      </a>
    </div>

    <div class="col-md-7">
      <h6 class="category text-info"><%= post.category.name %></h6>
      <h3 class="card-title">
        <a href="<%= post_path(post.id) %>"><%= post.title %></a>
      </h3>
      <p class="card-description">
        <%= truncate_html(post.content, length: 200, omission: '...' )%>
        <%= link_to 'weiterlesen', post, class: 'btn btn-info btn-sm' %>
      </p>
      <p class="author">
        <i class="material-icons">face</i>
        <a href="<%= user_path(post.user) %>" style="color: <%= post.user.text_color %>"> <%= post.user.nick_name %></a>
        <i class="material-icons">access_time</i>
        <% unless post.published_at.nil?  %>
            <%=  post.published_at.strftime('%d.%m.%Y') %>
        <% else %>
            <%=  post.created_at.strftime('%d.%m.%Y') %>
        <% end %>
        </a>
      </p>
      <!--Post-Tags-->
      <% post.tags.first(4).each do |tag| %>
        <%= link_to tag.name, tag, class:'btn btn-round btn-xs',\
            style: 'background-color:'+ tag.color + ';color: ' + tag.text_color + ';'  %>
      <% end  %>
      <% if user_signed_in? && current_user.admin? %>
          <hr>
          <%= link_to raw('<i class="material-icons">edit</i>'), edit_post_path(post), class:'btn btn-default' %>
          <%= link_to raw('<i class="material-icons">delete</i>'), post, method: :delete, data: { confirm: 'Are you sure?' },\
            class: 'btn btn-danger'%>


      <% end %>
    </div>




  </div>

</div>
