<div class="row thumbnail">
  <div class="col-md-6">
  <% unless post.published_at.nil?  %>
    <p><%= post.published_at.strftime('%d.%m.%Y') %>
  <% else %>
    <p><%= post.created_at.strftime('%d.%m.%Y') %>
  <% end %>

  von <%= post.user.nick_name %></p>

    <h3><%= post.title %></h3>

    <%#= post.short_preview_of_content(post.content, 50).html_safe + '...' %>
    <%= truncate_html(post.content, length: 300, omission: '...')  %>
    <%= link_to 'weiterlesen', post, class: '' %> <br> <br>

    <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_post_path(post), class:'btn btn-default' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
    <% end %>

  </div>
  <div class="col-md-6">
    <%= image_tag post.image_url, class: 'post_preview_image' %>
  </div>
</div>
<hr>