<% content_for :head do %>
    <meta property="og:url" content="<%= post_url(@post) + '/' %>" />
    <meta property="fb:app_id" content="326019507801319" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @post.title %>" />
    <meta property="og:description" content="<%= strip_tags(truncate_html(@post.content, length: 200, omission: '...' )) %>" />
    <meta property="og:image" content="<%= @post.image_url %>" />
<% end %>

  <div class="content_wrapper">
    <%= image_tag @post.image_url.url, class: 'img img-raised post_main_image' %>
    <%= render 'posts/post_author', post: @post %>
    <hr>
    <!--Share Buttons-->
    <div class="row">
      <%= render partial: 'shared/social_media_share', locals: {data_href: post_url(@post), tweet_text: @post.title} %>
    </div>
    <hr>

    <h6 class="category text-info"><%= @post.category.name %></h6>
    <%= content_tag(:h3,@post.title, class: 'title') %>
    <%= content_tag(:div, @post.content.html_safe, class: 'blog-text') %>
    <br>

    <!--Share Buttons-->
    <div class="col-md-12 social_media">
      <%= render partial: 'shared/social_media_share', locals: {data_href: post_url(@post), tweet_text: @post.title} %>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
        <% @post.tags.order(:name).each do |tag| %>
            <a href="<%= tag_path(tag) %>" class="btn btn-success btn-xs"
               style="background-color:<%= tag.color %>; color:<%= tag.text_color %>"><%= tag.name %></a>
        <% end %>
      </div>
    </div>
    <br>

  </div>

  <% if @post.get_rating_total > 1  %>
    <div class="content_wrapper">
      <div id="rating" class="">
          <h3>Bewertung</h3>
          <!--<ul class="rating-table">-->
            <div style="width:<%= 30 + @rating.gameplay*7 %>%;">Gameplay <b><%= @rating.gameplay.to_s %></b></div>
            <div style="width:<%= 30 + @rating.graphics*7 %>%;">Graphics <b><%= @rating.graphics.to_s %></b></div>
            <div style="width:<%= 30 + @rating.sound*7 %>%;">Sound <b><%= @rating.sound.to_s %></b></div>
            <div style="width:<%= 30 +  @rating.innovation*7 %>%;">Innovation <b><%= @rating.innovation.to_s %></b></div>
            <div style="width:<%= 30 + @rating.price_performance*7 %>%;">Price-Performance <b><%= @rating.price_performance.to_s %></b></div>
            <div style="width:<%= 30 + @post.get_rating_total*7 %>%;" class="rating_total"><strong>Total</strong> <b><%= @post.get_rating_total.to_s  %></b></div>
          <!--</ul>-->
      </div>
    </div>
  <% end %>
  <div class="content_wrapper">
    <div class="row">
      <div class="col-md-12">
        <%= render 'related_posts' %>
        <%= render 'shared/google_adsense' %>
      </div>
    </div>
  </div>

  <div class="">
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %> |
    <% end %>
    <%= link_to 'Back', :back, class: 'btn btn-default' %>
  </div>

  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>

  <div id="comments_wrapper" class="">
    <%= render 'shared/disqus' %>
  </div>
