<div class="row">
  <%= image_tag @post.image_url.url, class: 'post_main_image' %>
  <h3><%= @post.title %></h3>
  <p><%= @post.content.html_safe %></p>
</div>

<div class="row">
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>

  <%= link_to 'Back', posts_path %>
</div>

<!--<div id="new_comment" class="row anchor">-->
  <!--<p><%#= render "comments/new_comment" %></p>-->

<!--</div>-->

<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<div id="comments_wrapper" class="row">
  <%#= render "comments" %>
  <%= render 'shared/disqus' %>
</div>