<!DOCTYPE html>
<html>
  <head>
    <title>Sporting Nerds</title>

    <%= render 'shared/for_head' %>
    <%= auto_discovery_link_tag :rss, posts_url(:format => :rss) %>

  </head>

  <body>

    <%= render partial: 'shared/navigation' %>

    <%= render 'shared/logo_with_background'  %>

    <div class="container application_container">

      <div class="col-md-8 content">

        <%= yield %>

        <% if notice %>
            <p id="notice" class="alert alert-info"><%= notice %></p>
        <% end %>

        <% if alert %>
            <p id="alert" class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <div class="col-md-4 side_stuff">
        <%= render 'shared/side_stuff' %>
      </div>

    </div><!-- end container-->

    <%= render 'shared/footer' %>

  </body>
</html>
