<!DOCTYPE html>
<html>
  <head>
    <title>Sporting Nerds</title>

    <%= render 'shared/for_head' %>

  </head>

  <body id="coming_soon">
  <% if user_signed_in? && current_user.admin?  %>
    <%= render partial: "shared/navigation" %>
  <% end %>

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>

    <div class="container">
        <%= yield %>
    </div>
  </body>

</html>